.content {
	width: 100%;
}

.novo-lancamento {
	background: #4d843c;
	color: #fff;
	margin: -100px 0 40px 40px;
}

.delete {
	width: 100%;
}

.receita {
	color: #78e08f;
}

.despesa {
	color: #e55039;
}
