<a routerLink="" class="btn botao">Voltar</a>

<div class="formulario">
  <h2 class="text-center">Adicionar Lançamento</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Descrição:</label>
      <input type="text" formControlName="descricao" class="form-control" placeholder="Descrição..." [ngClass]="{ 'is-invalid': submitted && f.descricao.errors }">
      <div *ngIf="submitted && f.descricao.errors">
        <div *ngIf="f.descricao.errors.required" class="validator">Insira uma descrição</div>
      </div>
    </div>

    <div class="form-group">
      <label>Valor:</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">R$</span>
        </div>
        <input type="text" formControlName="valor" class="form-control" placeholder="Valor..." [ngClass]="{ 'is-invalid': submitted && f.valor.errors }">
      </div>
      <div *ngIf="submitted && f.valor.errors">
        <div *ngIf="f.valor.errors.required" class="validator">Insira um valor</div>
      </div>
    </div>

    <div class="form-group">
      <label>Vencimento:</label>
      <input type="text" formControlName="vencimento" class="form-control" placeholder="Descrição..." [ngClass]="{ 'is-invalid': submitted && f.vencimento.errors }">
      <div *ngIf="submitted && f.vencimento.errors">
        <div *ngIf="f.vencimento.errors.required" class="validator">Insira uma data de vencimento</div>
      </div>
    </div>

    <div class="form-group">
      <label>Tipo: </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tipo" id="1" value="RECEITA" formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && f.descricao.errors }">
        <label class="form-check-label" for="1">RECEITA</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tipo" id="2" value="DESPESA" formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && f.descricao.errors }">
        <label class="form-check-label" for="2">DESPESA</label>
      </div>
    </div>

    <button type="submit" class="btn botao salvar">Salvar</button>
  </form>
</div>
