.botao,
.salvar {
	background: #4d843c;
	color: #fff;
	margin: -100px 0 40px 40px;
}

.salvar {
	margin: 0;
}

.formulario {
	width: 70%;
	margin: 0 auto;
}

::placeholder {
	opacity: 0.5;
}

.validator {
	font-size: 0.7rem;
	color: tomato;
}
